<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Data_analysis</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light" style="background-color: #9ad3bc;">
            <a class="navbar-brand" href="../html/tc.html">Home Page</a>
        </nav>
       
            <div class="row mt-5 text-center">
                <h1>Analyzing .. Data</h1>
                <a href="/" class="btn btn-primary btn-lg">Home Page</a>
            </div>
            <div class="row">
                <div class="col-md-6 text-center" >
                    <h4>Data Analysis Report: ....</h4>
                </div>
            </div>
    </div>
    
    
</body>
</html>