<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Data_analysis</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light" style="background-color: #9ad3bc;">
            <a class="navbar-brand" href="/">Trang chủ</a>
        </nav>
       
            <div class="row mt-5 ">
                <div class="col-md-12 text-center">
                    <h1>Analyzing Thai Higher Education Data</h1>
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="/" class="btn btn-primary btn-lg">Trang chủ</a>
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-12 text-center" >
                    <h4 class="font-weight-bold">Báo cáo phân tích: </h4>
                    <p>Nghiên cứu đã cho ta thấy được sự phát triển của nền giáo dục bậc cao tại đất nước Thái Lan. Trước những năm 1999 thì tỉ lệ các trường được thành lập còn khá ít và thực sự chưa nhiều nhưng sau năm 1999 thì rất nhiều trường được thành lập và phát triển, cho thấy được sự đầu tư vào nền giáo dục ở Thái Lan vào thời điểm này. 
 
                        Kết quả cho thấy sự phân bố các trường giáo dục bậc cao ở đây chưa đồng đều, tập trung nhiều nhất tịa Bangkok khiến cho nền giáo dực tại một số nơi vẫn chưa thực sự phát triển mạnh và điều kiện đi học tại đó vẫn chưa đáp ứng được nhiều.
                        Kết quả phân tích từng loại trường cho thấy được các trường tư chiếm tỉ lệ nhiều hơn các trường công lập, số lượng trường công lập và quốc tế còn ít. So về chất lượng giảng dạy giữa trường tư và trường công lập thì trường công vẫn được nhiều người lựa chọn là nơi tiếp thu kiến thức, phát triển bản thân nhiều hơn trường tư.</p>
                </div>
            </div>
    </div>
    
    
</body>
</html>