<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Home</title>
</head>

<body>

    <nav class="navbar navbar-light" style="background-color: #9ad3bc;">
        <a class="navbar-brand" href="#">Home Page</a>
    </nav>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-6 text-center">
                <a class="btn btn-primary btn-lg" href="/chart">SIMPLE CHART</a>
            </div>
            <div class="col-md-6 text-center">
                <a class="btn btn-primary btn-lg" href="/data_analysis">DATA ANALYSIS </a>
            </div>
        </div>
        <hr>
        <h2 class="text-center">Introduction</h2>
        <div class="row">
            <div class="col-md-6 mt-2 text-center">
                <p>Introduction to project......</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6  text-center">
                <p>Team infomation:</p>
            </div>
            <div class="col-md-7">
                <div class="col-md-7">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên</th>
                                <th scope="col">MSSV</th>
                                <th scope="col">Lớp</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Nguyễn Thế Bảo</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Nguyễn Nhật Hào</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Nguyễn Xuân Hải</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Nguyễn Anh Huy</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Nguyễn Thanh Tú</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Nguyễn Thiên Cát Tường</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</body>

</html>