<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Trang chủ - Phân tích dữ liệu 1</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-light" style="background-color: #9ad3bc;">
            <a class="navbar-brand" href="#">Trang chủ</a>
        </nav>
        
            <div class="row mt-5">
                <div class="col-md-6 text-center">
                    <a class="btn btn-primary btn-lg" href="/line">SIMPLE CHART</a>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-primary btn-lg" href="/data_analysis">DATA ANALYSIS </a>
                </div>
            </div>
            <hr>
            <h2 class="text-center">Introduction</h2>
            <div class="row">
                <div class="col-md-12 mt-2 text-center">
                    <p class="font-weight-bold">Giới thiệu: Thái Lan có rất nhiều cấp bậc đào tạo giáo dục lẫn phát triển mầm non của 
                      đất nước nhưng tập trung chủ yếu trong báo cáo lần này chính là cấp bậc Đại học,
                       Cao đẳng, các khoa viên của Thái Lan. Báo cáo cho thấy được sự thành lập của các trường Đại Học,
                        Cao đẳng, …trong khoảng hơn 100 năm trở lại đây.
                         Báo cáo còn cho ta thấy được sự phát triển của nền giáo dục ở Thái Lan
                      , từ đó có thể thấy được sự phát triển của đất nước này.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6  text-center">
                    <p class="font-weight-bold">Thông tin nhóm 2:</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Tên</th>
                            <th scope="col">MSSV</th>
                            <th scope="col">LỚP</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Nguyễn Thế Bảo</td>
                            <td>18029531</td>
                            <td>DHKTPM14ATT</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Nguyễn Nhật Hào</td>
                            <td>18040821</td>
                            <td>DHKTPM14ATT</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Nguyễn Xuân Hải</td>
                            <td>18020331</td>
                            <td>DHKTPM14ATT</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Nguyễn Anh Huy</td>
                            <td>18020831</td>
                            <td>DHKTPM14ATT</td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>Nguyễn Thanh Tú</td>
                            <td>18045511</td>
                            <td>DHKTPM14ATT</td>
                          </tr>
                          <tr>
                            <th scope="row">6</th>
                            <td>Nguyễn Thiên Cát Tường</td>
                            <td>18046191</td>
                            <td>DHKTPM14ATT</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>

    </div>
    
   


</body>

</html>