<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>SIMPLE CHART</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9ad3bc;width: 100%;">
          <a class="navbar-brand" href="/">Trang chủ</a>
        </nav>
       
    
          <div class="row mt-5 text-center">
            <div class="col-md-12 text-center">
                <h1>Biểu đồ đường</h1>
            </div>
          
           
          </div>
          <div class="row ">
            <div class="col-md-12 text-center">
              
                <a href="/" class="btn btn-primary btn-lg">Trang chủ</a>
            </div>
           
          </div>
          <div class="row mt-4">
            <div class=" col-lg-3 col-xl-3 ">
              <div class="list-group" id="list-tab" role="tablist">
                <a href="/line" class="list-group-item list-group-item-action">Biểu đồ đường</a>
                <a href="/pie" class="list-group-item list-group-item-action">Biểu đồ tròn</a>
                <a href="/cot" class="list-group-item list-group-item-action">Biểu đồ cột</a>
              </div>
            </div>
    
            <div class="col-lg-8 col-xl-8 ">
              <h4>Mô tả:<p>Đây là dạng biểu đồ để thể hiện tiến trình phát triển, động thái phát triển của một đối tượng hay một nhóm đối tượng nào đó qua thời gian. Vì vậy với các bài vẽ biểu đồ đường thường có các cụm từ thể hiện sự phát triển, tốc độ tăng trưởng… với các mốc thời gian nhất định. </p> </h4>
              <h4>Loại biểu đồ: Biểu đồ đường </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 ml-auto">
              <h4>Loại 1 : </h4>
                <iframe width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNzY0YWU3ZTMtOGNmOC00Y2MxLThlYjQtYzJkMTA5NmYzNzQ4IiwidCI6ImY5ZTZmODMwLTFkMzgtNDEyNS1hY2I2LTQ4NDI0MGIyMjNjZiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
            </div>
          </div>
        </div>
      </div>
      </div>
    
</body>
</html>